 <footer id="footer-3wa">
    
      <section >
        <img class="displayed" src="/img/3w-small.png" alt="" />
        <p>
          Ce matériel pédagogique est la propriété de la
          <a href="https://3wa.fr/">3W Academy</a> cet exercie est un blog réalisé
          <a href="https://3wa.fr/">par 3wa.</a>.
        </p>
      </section>
    </footer>
</body>
</html>